
* {
    box-sizing: border-box; 
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url('/Images/Background.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgb(77, 75, 75);
    border-radius: 5px;
    color: white;
    font-size: 28px;
    color: rgb(88, 86, 86);
    font-family: 'Satisfy', cursive;
    font-style: italic;
    transition: background-color 0.3s, color 0.3s;
}

.logo span:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: rgb(163, 159, 159);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    padding-right: 100px; /* Adjust as needed */
}

.content-text {
    text-align: right;
    color: white;
}

.content h1 {
    font-size: 48px;
    color: rgb(176, 172, 172);
    margin: 0;
    font-family: Arial, sans-serif;
}

.content p {
    font-size: 18px;
    color: rgb(163, 159, 159);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Adjust width as needed */
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-container {
    position: relative;
    width: 80%; /* Adjust width as needed */
}

.grey-background {
    position: absolute;
    top: 5px;
    bottom: 30px;
    right: 10px;
    width: 410px;
    height: 450px;
    background-color: rgb(21, 20, 20);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    mix-blend-mode: multiply;
    opacity: 0.6;
    z-index: 1;
}

.image-container img {
    position: relative;
    top: 20px;
    left: 230px;
    opacity: 0.6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 2;
    width: 400px;
    height: 450px;
}

.Product {
    background-color: #272525;
    margin: 0px;
    padding: 50px;
    height: 100vh;
    width: 100%;
    text-align: center;
    opacity: 0.999;
    z-index: 1;
}

.Product h1 {
    font-size: 48px;
    color: rgb(176, 172, 172);
}

.Product p {
    font-size: 15px;
    color: rgb(163, 159, 159);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.row {
    box-sizing: border-box;
}

.column {
    /* I wanted to align these images to the centre so I used inline block */
    display: inline-block; 
    margin: 5px;
    padding: 2px;
}

.column img {
    width: 100%;
    height: 500px;
    max-width: 300px;
    object-fit: cover;
}


/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgb(77, 75, 75);
    border-radius: 5px;
    color: white;
    font-size: 28px;
    color: rgb(88, 86, 86);
    font-family: 'Satisfy', cursive;
    font-style: italic;
    transition: background-color 0.3s, color 0.3s;
}

.logo span:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: rgb(163, 159, 159);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}


/* home page image styling */
.content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    padding-right: 100px;
}

.content-text {
    text-align: right;
    color: white;
}

.content h1 {
    font-size: 48px;
    color: rgb(176, 172, 172);
    margin: 0;
    font-family: Arial, sans-serif;
}

.content p {
    font-size: 18px;
    color: rgb(163, 159, 159);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-container {
    position: relative;
    width: 80%;
}

.grey-background {
    position: absolute;
    top: 5px;
    bottom: 30px;
    right: 10px;
    width: 410px;
    height: 450px;
    background-color: rgb(21, 20, 20);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    mix-blend-mode: multiply;
    opacity: 0.6;
    z-index: 1;
}

.image-container img {
    position: relative;
    top: 20px;
    left: 230px;
    opacity: 0.6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 2;
    width: 400px;
    height: 450px;
}

/* Products Styling */
.Product {
    background-color: #272525;
    margin: 0px;
    padding: 50px;
    height: 100vh;
    width: 100%;
    text-align: center;
    opacity: 0.999;
    z-index: 1;
}

.Product h1 {
    font-size: 48px;
    color: rgb(176, 172, 172);
}

.Product p {
    font-size: 15px;
    color: rgb(163, 159, 159);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.row {
    box-sizing: border-box;
}

.column {
    /* I wanted to align these images to the centre so I used inline block */
    display: inline-block; 
    margin: 5px;
    padding: 2px;
}

.column img {
    width: 100%;
    height: 450px;
    max-width: 300px;
    object-fit: cover;
    margin-top: -30px;
}

/*  Blogs Styling */

.Blogs {
    background-color: #3e3c3c;
    margin: 0;
    padding: 50px;
}

.BlogFrame {
    width: 70%;
    margin: 0 auto;
}

.BlogContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px; 
}

.BlogContent img {
    width: 43%;
    height: 420px;
    margin-right: 20px;
    margin-left: 10px;
}

/* Target the third BlogContent item and swap alignment */
.BlogContent:nth-child(3) {
    flex-direction: row-reverse; 
    margin-left: 20px;
}

.BlogText {
    flex: 1;
}

.BlogText h1 {
    font-size: 40px;
    color: rgb(194, 189, 189);
}

.BlogText p {
    font-size: 15px;
    color: rgb(163, 159, 159);
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #68615c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.learn-more:hover {
    background-color: #292726;
}

/* About Styling */
.About {
    background-color: #272525;
    margin: 0;
    padding: 50px;
    height: 100vh;
}

.AboutContent {
    width: 80%;
    margin: 0 auto;
}
.AboutText h1 {
    font-size: 40px;
    color: rgb(194, 189, 189);
    text-align: center;
}

.AboutText p {
    font-size: 15px;
    margin-top: 50px;
    color: rgb(163, 159, 159);
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
.AboutContent img {
    width: 350px;
    height: 400px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    border-bottom-right-radius: 90px;
}

.learn-more1 {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #5e5a56;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.learn-more1:hover {
    background-color: #a69791;
}

/* Contact Us Styling */

.ContactUs {
    background-color: #5f5b5b;
    height: 100vh;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactText {
    color: rgb(194, 189, 189);
    flex: 1;
    margin: 100px;
    padding-right: 20px; 
}

.ContactText h1 {
    padding-bottom: 50px;
    font-size: 48px;
    margin: 0;
}

.ContactText h3 {
    font-size: 30px;
    margin: 10px 0;
}

.ContactText p {
    font-size: 15px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}


.form-container {

    /* padding-bottom: 50px; */
  padding-top: 50px;
  padding-right: 400px;

}


.form-container input[type=text], .form-container input[type=email], textarea {
  width: 100%;
  padding: 15px;
  margin: 50px 0 22px 0;
  border: none;
  background: #5f5b5b;
}


.form-container label[for="name"], label[for = "email"], label[for="message"] {
  width: 100%;
  margin: 5px 0 22px 0;
  border: none;
  color: rgb(194, 189, 189);

}
.submit {
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #928f8b;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: rgb(194, 189, 189);
}



 /* Footer Styling */

.footer {
    background-color: #272525;
    color: white;
    padding: 10px;
    position: relative;
    height: auto;
    z-index: 1;
}


.footer .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.footer .nav-links a{
    margin-left: 60px;
    font-size: 14px;
}

.footer .footer-content{
    font-size: 16px;
   color: rgb(163, 159, 159);
    text-align: center;
}
.footer .next{
     font-size: 16px;
   color: rgb(163, 159, 159);
    padding-left: 430px;
}

.footer .next span{
    padding-left: 80px;
}